# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
tools/subset_parser/node_modules/.package-lock.json
tools/subset_parser/node_modules/.bin/json2csv
tools/subset_parser/node_modules/.bin/json2csv.cmd
tools/subset_parser/node_modules/.bin/json2csv.ps1
tools/subset_parser/node_modules/.bin/tsc
tools/subset_parser/node_modules/.bin/tsc.cmd
tools/subset_parser/node_modules/.bin/tsc.ps1
tools/subset_parser/node_modules/.bin/tsserver
tools/subset_parser/node_modules/.bin/tsserver.cmd
tools/subset_parser/node_modules/.bin/tsserver.ps1
tools/subset_parser/node_modules/@streamparser/json/.eslintrc.js
tools/subset_parser/node_modules/@streamparser/json/build.deno.js
tools/subset_parser/node_modules/@streamparser/json/build.mjs.js
tools/subset_parser/node_modules/@streamparser/json/LICENSE
tools/subset_parser/node_modules/@streamparser/json/package.json
tools/subset_parser/node_modules/@streamparser/json/README.md
tools/subset_parser/node_modules/@streamparser/json/rollup.config.js
tools/subset_parser/node_modules/@streamparser/json/tsconfig.json
tools/subset_parser/node_modules/@streamparser/json/.github/workflows/on-push.yaml
tools/subset_parser/node_modules/@streamparser/json/.github/workflows/on-release.yaml
tools/subset_parser/node_modules/@streamparser/json/performance/index.deno.ts
tools/subset_parser/node_modules/@streamparser/json/performance/index.node.mjs
tools/subset_parser/node_modules/@streamparser/json/performance/package-lock.json
tools/subset_parser/node_modules/@streamparser/json/performance/package.json
tools/subset_parser/node_modules/@streamparser/json/samplejson/basic-no-numbers.json
tools/subset_parser/node_modules/@streamparser/json/samplejson/basic.json
tools/subset_parser/node_modules/@streamparser/json/src/index.ts
tools/subset_parser/node_modules/@streamparser/json/src/jsonparser.ts
tools/subset_parser/node_modules/@streamparser/json/src/tokenizer.ts
tools/subset_parser/node_modules/@streamparser/json/src/tokenparser.ts
tools/subset_parser/node_modules/@streamparser/json/src/utils/bufferedString.ts
tools/subset_parser/node_modules/@streamparser/json/src/utils/constants.ts
tools/subset_parser/node_modules/@streamparser/json/src/utils/types.ts
tools/subset_parser/node_modules/@streamparser/json/src/utils/utf-8.ts
tools/subset_parser/node_modules/@streamparser/json/test/callbacks.ts
tools/subset_parser/node_modules/@streamparser/json/test/end.ts
tools/subset_parser/node_modules/@streamparser/json/test/inputs.ts
tools/subset_parser/node_modules/@streamparser/json/test/keepStack.ts
tools/subset_parser/node_modules/@streamparser/json/test/offset.ts
tools/subset_parser/node_modules/@streamparser/json/test/performance.ts
tools/subset_parser/node_modules/@streamparser/json/test/selectors.ts
tools/subset_parser/node_modules/@streamparser/json/test/separator.ts
tools/subset_parser/node_modules/@streamparser/json/test/types/arrays.ts
tools/subset_parser/node_modules/@streamparser/json/test/types/booleans.ts
tools/subset_parser/node_modules/@streamparser/json/test/types/null.ts
tools/subset_parser/node_modules/@streamparser/json/test/types/numbers.ts
tools/subset_parser/node_modules/@streamparser/json/test/types/objects.ts
tools/subset_parser/node_modules/@streamparser/json/test/types/strings.ts
tools/subset_parser/node_modules/@types/json2csv/index.d.ts
tools/subset_parser/node_modules/@types/json2csv/JSON2CSVAsyncParser.d.ts
tools/subset_parser/node_modules/@types/json2csv/JSON2CSVBase.d.ts
tools/subset_parser/node_modules/@types/json2csv/JSON2CSVParser.d.ts
tools/subset_parser/node_modules/@types/json2csv/JSON2CSVTransform.d.ts
tools/subset_parser/node_modules/@types/json2csv/LICENSE
tools/subset_parser/node_modules/@types/json2csv/package.json
tools/subset_parser/node_modules/@types/json2csv/README.md
tools/subset_parser/node_modules/@types/json2csv/transforms/flatten.d.ts
tools/subset_parser/node_modules/@types/json2csv/transforms/unwind.d.ts
tools/subset_parser/node_modules/@types/node/assert.d.ts
tools/subset_parser/node_modules/@types/node/async_hooks.d.ts
tools/subset_parser/node_modules/@types/node/buffer.d.ts
tools/subset_parser/node_modules/@types/node/child_process.d.ts
tools/subset_parser/node_modules/@types/node/cluster.d.ts
tools/subset_parser/node_modules/@types/node/console.d.ts
tools/subset_parser/node_modules/@types/node/constants.d.ts
tools/subset_parser/node_modules/@types/node/crypto.d.ts
tools/subset_parser/node_modules/@types/node/dgram.d.ts
tools/subset_parser/node_modules/@types/node/dns.d.ts
tools/subset_parser/node_modules/@types/node/domain.d.ts
tools/subset_parser/node_modules/@types/node/events.d.ts
tools/subset_parser/node_modules/@types/node/fs.d.ts
tools/subset_parser/node_modules/@types/node/globals.d.ts
tools/subset_parser/node_modules/@types/node/globals.global.d.ts
tools/subset_parser/node_modules/@types/node/http.d.ts
tools/subset_parser/node_modules/@types/node/http2.d.ts
tools/subset_parser/node_modules/@types/node/https.d.ts
tools/subset_parser/node_modules/@types/node/index.d.ts
tools/subset_parser/node_modules/@types/node/inspector.d.ts
tools/subset_parser/node_modules/@types/node/LICENSE
tools/subset_parser/node_modules/@types/node/module.d.ts
tools/subset_parser/node_modules/@types/node/net.d.ts
tools/subset_parser/node_modules/@types/node/os.d.ts
tools/subset_parser/node_modules/@types/node/package.json
tools/subset_parser/node_modules/@types/node/path.d.ts
tools/subset_parser/node_modules/@types/node/perf_hooks.d.ts
tools/subset_parser/node_modules/@types/node/process.d.ts
tools/subset_parser/node_modules/@types/node/punycode.d.ts
tools/subset_parser/node_modules/@types/node/querystring.d.ts
tools/subset_parser/node_modules/@types/node/readline.d.ts
tools/subset_parser/node_modules/@types/node/README.md
tools/subset_parser/node_modules/@types/node/repl.d.ts
tools/subset_parser/node_modules/@types/node/stream.d.ts
tools/subset_parser/node_modules/@types/node/string_decoder.d.ts
tools/subset_parser/node_modules/@types/node/timers.d.ts
tools/subset_parser/node_modules/@types/node/tls.d.ts
tools/subset_parser/node_modules/@types/node/trace_events.d.ts
tools/subset_parser/node_modules/@types/node/tty.d.ts
tools/subset_parser/node_modules/@types/node/url.d.ts
tools/subset_parser/node_modules/@types/node/util.d.ts
tools/subset_parser/node_modules/@types/node/v8.d.ts
tools/subset_parser/node_modules/@types/node/vm.d.ts
tools/subset_parser/node_modules/@types/node/wasi.d.ts
tools/subset_parser/node_modules/@types/node/worker_threads.d.ts
tools/subset_parser/node_modules/@types/node/zlib.d.ts
tools/subset_parser/node_modules/@types/node/fs/promises.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/assert.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/async_hooks.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/buffer.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/child_process.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/cluster.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/console.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/constants.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/crypto.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/dgram.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/dns.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/domain.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/events.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/fs.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/globals.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/globals.global.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/http.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/http2.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/https.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/index.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/inspector.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/module.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/net.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/os.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/path.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/perf_hooks.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/process.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/punycode.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/querystring.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/readline.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/repl.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/stream.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/string_decoder.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/timers.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/tls.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/trace_events.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/tty.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/url.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/util.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/v8.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/vm.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/wasi.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/worker_threads.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/zlib.d.ts
tools/subset_parser/node_modules/@types/node/ts4.8/fs/promises.d.ts
tools/subset_parser/node_modules/ansi-styles/index.js
tools/subset_parser/node_modules/ansi-styles/license
tools/subset_parser/node_modules/ansi-styles/package.json
tools/subset_parser/node_modules/ansi-styles/readme.md
tools/subset_parser/node_modules/asynckit/bench.js
tools/subset_parser/node_modules/asynckit/index.js
tools/subset_parser/node_modules/asynckit/LICENSE
tools/subset_parser/node_modules/asynckit/package.json
tools/subset_parser/node_modules/asynckit/parallel.js
tools/subset_parser/node_modules/asynckit/README.md
tools/subset_parser/node_modules/asynckit/serial.js
tools/subset_parser/node_modules/asynckit/serialOrdered.js
tools/subset_parser/node_modules/asynckit/stream.js
tools/subset_parser/node_modules/axios/CHANGELOG.md
tools/subset_parser/node_modules/axios/index.d.cts
tools/subset_parser/node_modules/axios/index.d.ts
tools/subset_parser/node_modules/axios/index.js
tools/subset_parser/node_modules/axios/LICENSE
tools/subset_parser/node_modules/axios/MIGRATION_GUIDE.md
tools/subset_parser/node_modules/axios/package.json
tools/subset_parser/node_modules/axios/README.md
tools/subset_parser/node_modules/axios/SECURITY.md
tools/subset_parser/node_modules/chalk/index.js
tools/subset_parser/node_modules/chalk/index.js.flow
tools/subset_parser/node_modules/chalk/license
tools/subset_parser/node_modules/chalk/package.json
tools/subset_parser/node_modules/chalk/readme.md
tools/subset_parser/node_modules/chalk/templates.js
tools/subset_parser/node_modules/chalk/types/index.d.ts
tools/subset_parser/node_modules/color-convert/CHANGELOG.md
tools/subset_parser/node_modules/color-convert/conversions.js
tools/subset_parser/node_modules/color-convert/index.js
tools/subset_parser/node_modules/color-convert/LICENSE
tools/subset_parser/node_modules/color-convert/package.json
tools/subset_parser/node_modules/color-convert/README.md
tools/subset_parser/node_modules/color-convert/route.js
tools/subset_parser/node_modules/color-name/.eslintrc.json
tools/subset_parser/node_modules/color-name/.npmignore
tools/subset_parser/node_modules/color-name/index.js
tools/subset_parser/node_modules/color-name/LICENSE
tools/subset_parser/node_modules/color-name/package.json
tools/subset_parser/node_modules/color-name/README.md
tools/subset_parser/node_modules/color-name/test.js
tools/subset_parser/node_modules/combined-stream/License
tools/subset_parser/node_modules/combined-stream/package.json
tools/subset_parser/node_modules/combined-stream/Readme.md
tools/subset_parser/node_modules/combined-stream/yarn.lock
tools/subset_parser/node_modules/commander/CHANGELOG.md
tools/subset_parser/node_modules/commander/esm.mjs
tools/subset_parser/node_modules/commander/index.js
tools/subset_parser/node_modules/commander/LICENSE
tools/subset_parser/node_modules/commander/package-support.json
tools/subset_parser/node_modules/commander/package.json
tools/subset_parser/node_modules/commander/Readme.md
tools/subset_parser/node_modules/commander/typings/index.d.ts
tools/subset_parser/node_modules/delayed-stream/.npmignore
tools/subset_parser/node_modules/delayed-stream/License
tools/subset_parser/node_modules/delayed-stream/Makefile
tools/subset_parser/node_modules/delayed-stream/package.json
tools/subset_parser/node_modules/delayed-stream/Readme.md
tools/subset_parser/node_modules/escape-string-regexp/index.js
tools/subset_parser/node_modules/escape-string-regexp/license
tools/subset_parser/node_modules/escape-string-regexp/package.json
tools/subset_parser/node_modules/escape-string-regexp/readme.md
tools/subset_parser/node_modules/follow-redirects/debug.js
tools/subset_parser/node_modules/follow-redirects/http.js
tools/subset_parser/node_modules/follow-redirects/https.js
tools/subset_parser/node_modules/follow-redirects/index.js
tools/subset_parser/node_modules/follow-redirects/LICENSE
tools/subset_parser/node_modules/follow-redirects/package.json
tools/subset_parser/node_modules/follow-redirects/README.md
tools/subset_parser/node_modules/form-data/index.d.ts
tools/subset_parser/node_modules/form-data/License
tools/subset_parser/node_modules/form-data/package.json
tools/subset_parser/node_modules/form-data/Readme.md
tools/subset_parser/node_modules/form-data/README.md.bak
tools/subset_parser/node_modules/has-flag/index.js
tools/subset_parser/node_modules/has-flag/license
tools/subset_parser/node_modules/has-flag/package.json
tools/subset_parser/node_modules/has-flag/readme.md
tools/subset_parser/node_modules/json2csv/.eslintrc
tools/subset_parser/node_modules/json2csv/.gitattributes
tools/subset_parser/node_modules/json2csv/.prettierrc.js
tools/subset_parser/node_modules/json2csv/LICENSE.md
tools/subset_parser/node_modules/json2csv/package.json
tools/subset_parser/node_modules/json2csv/README.md
tools/subset_parser/node_modules/json2csv/rollup.config.js
tools/subset_parser/node_modules/json2csv/bin/json2csv.js
tools/subset_parser/node_modules/json2csv/bin/utils/parseNdjson.js
tools/subset_parser/node_modules/json2csv/bin/utils/TablePrinter.js
tools/subset_parser/node_modules/json2csv/docs/cli-examples.md
tools/subset_parser/node_modules/json2csv/docs/parser-examples.md
tools/subset_parser/node_modules/json2csv/node_modules/commander/CHANGELOG.md
tools/subset_parser/node_modules/json2csv/node_modules/commander/index.js
tools/subset_parser/node_modules/json2csv/node_modules/commander/LICENSE
tools/subset_parser/node_modules/json2csv/node_modules/commander/package.json
tools/subset_parser/node_modules/json2csv/node_modules/commander/Readme.md
tools/subset_parser/node_modules/json2csv/node_modules/commander/typings/index.d.ts
tools/subset_parser/node_modules/lodash.get/index.js
tools/subset_parser/node_modules/lodash.get/LICENSE
tools/subset_parser/node_modules/lodash.get/package.json
tools/subset_parser/node_modules/lodash.get/README.md
tools/subset_parser/node_modules/mime-db/db.json
tools/subset_parser/node_modules/mime-db/HISTORY.md
tools/subset_parser/node_modules/mime-db/index.js
tools/subset_parser/node_modules/mime-db/LICENSE
tools/subset_parser/node_modules/mime-db/package.json
tools/subset_parser/node_modules/mime-db/README.md
tools/subset_parser/node_modules/mime-types/HISTORY.md
tools/subset_parser/node_modules/mime-types/index.js
tools/subset_parser/node_modules/mime-types/LICENSE
tools/subset_parser/node_modules/mime-types/package.json
tools/subset_parser/node_modules/mime-types/README.md
tools/subset_parser/node_modules/proxy-from-env/.eslintrc
tools/subset_parser/node_modules/proxy-from-env/.travis.yml
tools/subset_parser/node_modules/proxy-from-env/index.js
tools/subset_parser/node_modules/proxy-from-env/LICENSE
tools/subset_parser/node_modules/proxy-from-env/package.json
tools/subset_parser/node_modules/proxy-from-env/README.md
tools/subset_parser/node_modules/proxy-from-env/test.js
tools/subset_parser/node_modules/supports-color/browser.js
tools/subset_parser/node_modules/supports-color/index.js
tools/subset_parser/node_modules/supports-color/license
tools/subset_parser/node_modules/supports-color/package.json
tools/subset_parser/node_modules/supports-color/readme.md
tools/subset_parser/node_modules/typescript/LICENSE.txt
tools/subset_parser/node_modules/typescript/package.json
tools/subset_parser/node_modules/typescript/README.md
tools/subset_parser/node_modules/typescript/SECURITY.md
tools/subset_parser/node_modules/typescript/ThirdPartyNoticeText.txt
tools/subset_parser/node_modules/typescript/bin/tsc
tools/subset_parser/node_modules/typescript/bin/tsserver
